/*
Plugin Name: Post Images
Plugin URI: http://malith.pro
Description: Awesome image upload for wordpress posts.
Author: Malith Priyashan
Author URI: http://malith.pro
Version: 1.0.0
Text Domain: post-image
License: GPLv2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/